/* General */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --general-color: #fff;
  --link-color: rgb(224, 213, 213);
  --link-hover: rgb(160, 146, 179);
  --offer-bg: #0071e3;
}

body.background {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--general-color);
  background-color: rgb(0, 0, 0);
}

.desktop-nav {
  display: none;
}

header,
main,
footer {
  padding: 0 20px;
}

/* Reset */

a.nav-btn {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--link-color);
}

a.nav-btn:hover {
  color: var(--link-hover);
}

/* Header */

.humburger.fa-bars {
  font-size: 25px;
}

.brand {
  font-size: 24px;
  font-weight: 900;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.offer.buy {
  border-radius: 4px;
  font-weight: 900;
}

.offer.buy:hover {
  color: rgb(119, 114, 114);
}

/* Main */

main {
  flex: 1;
}

.header-h1 {
  font-size: 30px;
  font-weight: bolder;
}

.sec-header > p {
  font-size: 15px;
  font-weight: 100;
  color: var(--general-color);
}

/* Footer */

.copyright-nav a,
span {
  font-size: 14px;
  opacity: 0.9;
}

.nav-icons .fa {
  font-size: 25px;
  color: var(--general-color);
}

.nav-icons .fa:hover {
  color: var(--link-hover);
}

@media (min-width: 768px) {
  .desktop-nav {
    display: flex;
    align-items: center;
  }

  .mobile-nav {
    display: none;
  }
}

@media (min-width: 1000px) {
  header,
  main,
  footer {
    width: 1020px;
    margin: 0 auto;
  }
}
