/* General */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --general-color: #fff;
  --link-color: rgb(224, 213, 213);
  --link-hover: rgb(160, 146, 179);
  --offer-bg: #0071e3;
  --body-bg: rgb(0, 0, 0);
}

body.background {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--general-color);
  background-color: var(--body-bg);
}

.desktop-nav {
  display: none;
}

header,
main,
footer {
  padding: 0 20px;
}

/* Reset */

a.nav-btn {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--link-color);
}

a.nav-btn:hover {
  color: var(--link-hover);
}

img {
  width: 100%;
  height: 100%;
}

/* Header */
header {
  margin-bottom: 40px;
}

.mobile-nav {
  display: flex;
}

.humburger.fa-bars {
  font-size: 25px;
}

.brand {
  font-size: 14px;
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 5px 15px;
  border: 1px solid rgb(65, 63, 63);
  margin-bottom: 10px;
}

a.brand.mobile {
  margin-left: auto;
}

.offer.buy {
  border-radius: 4px;
  font-weight: 900;
  background-color: rgb(7, 252, 178);
  padding: 2px 10px;
  color: black;
}

.offer.buy:hover {
  color: rgb(119, 114, 114);
}

.fa.fa-user-ninja {
  color: white;
}

/* Main */

main {
  flex: 1;
}

.header-h1 {
  font-size: 30px;
  font-weight: bolder;
}

.sec-header > p {
  font-size: 15px;
  font-weight: 100;
  color: var(--general-color);
}

.programs {
  padding: 10px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVBD4bqzd-7zZ60znfrV1xPz_eVSiFXfiYYFSIICNhclrAOyUaPZLSWqodXsDbGPOh3xk&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--body-bg);
  border-radius: 5px;
  margin-bottom: 20px;
  opacity: 0.9;
}

.fa-css3 {
  margin-left: auto;
}

.teacher {
  width: 100px;
  height: 100px;
  /* background-image: url(); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.company {
  width: 100px;
  height: 40px;
  background-color: gray;
}

.img-teacher {
  border-radius: 100px;
}

.teacher-container {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
}

/* Footer */

.copyright-nav a,
span {
  font-size: 14px;
  opacity: 0.9;
}

.nav-icons .fa {
  font-size: 25px;
  color: var(--general-color);
}

.nav-icons .fa:hover {
  color: var(--link-hover);
}

@media (min-width: 500px) {
  .teacher-container {
    grid-template-columns: 180px 180px;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  header {
    margin-bottom: 70px;
  }

  .teacher-container {
    grid-template-columns: 190px 190px 190px 190px;
  }

  .desktop-nav {
    display: flex;
    align-items: center;
  }

  .mobile-nav {
    display: none;
  }

  .p-header {
    width: 50%;
  }

  .main-programs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

@media (min-width: 1000px) {
  header,
  main,
  footer {
    width: 1020px;
    margin: 0 auto;
  }

  header {
    margin-bottom: 100px;
  }
}
